.mvp-player{
	position: relative;
    width: 100%;
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    z-index: 1;
    min-height: 200px;
    display: none;
}
/* css grid */

.mvp-grid1 .mvp-playlist-content{
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
}
@media (min-width: 600px) {
    .mvp-grid1 .mvp-playlist-content { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
    .mvp-grid1 .mvp-playlist-content { grid-template-columns: repeat(3, 1fr); }
}

/* masonry */
/*
.mvp-grid1 .mvp-grid-sizer,
.mvp-grid1 .mvp-playlist-item{
	width: calc(20% - 10px);
	width: calc(20% - 10px);
}
@media only screen and (max-width: 1224px) {
    .mvp-grid1 .mvp-grid-sizer { width: calc(33.33% - 10px); }
    .mvp-grid1 .mvp-playlist-item { width: calc(33.33% - 10px); }
}
@media only screen and (max-width: 720px) {
    .mvp-grid1 .mvp-grid-sizer { width: calc(50% - 10px); }
    .mvp-grid1 .mvp-playlist-item { width: calc(50% - 10px); }
}
@media only screen and (max-width: 480px) {
    .mvp-grid1 .mvp-grid-sizer { width: 100%; }
    .mvp-grid1 .mvp-playlist-item { width: 100%; }
}*/


.mvp-grid1 .mvp-playlist-item{
    position: relative;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    cursor:pointer;
}
.mvp-grid1 .mvp-playlist-thumb{
    position:relative;
    top:0px;
    left:0px;
    height:auto;
    width: 100%;
    flex-shrink: 0;
    overflow:hidden;
    display: block;
    transition: opacity 300ms ease-out; 
}
.mvp-grid1 .mvp-thumbimg{
    position:relative;
    top:0px;
    left:0px;
    display:block;
    width: 100%;
    max-width: none!important;
    opacity: 0;
}
.mvp-grid1 .mvp-playlist-thumb:after{
    display: block;
    content: '';
    position: absolute;
    z-index: 3; 
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent rgba(255,255,255,.3);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mvp-grid1 .mvp-playlist-item:hover .mvp-playlist-thumb:after{
    border-color: transparent transparent transparent rgba(255,255,255,.8);
    transition: all .2s ease-in; 
}
.mvp-grid1 .mvp-playlist-item:hover .mvp-thumbimg{
    transform: scale(1.1);
    transition: all .2s ease-in; 
}
.mvp-grid1 .mvp-playlist-info {
    height: auto;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    line-height: normal;
    z-index: 10;
    white-space:normal;
}
.mvp-grid1.mvp-info-dbt .mvp-playlist-info {
    position: relative;
    background:#fff;
    color:#777;
}
.mvp-grid1.mvp-info-dot .mvp-playlist-info {
	top: 100%;
    transition: transform 0.2s ease-out;
    position: absolute;
    background:#607d8b;
    color:#fff;
}
.mvp-grid1.mvp-info-dot .mvp-playlist-item:hover .mvp-playlist-info{
	transform: translateY(-99%);
}
.mvp-grid1 .mvp-playlist-title {
    font-size:16px;
}
.mvp-grid1 .mvp-playlist-description{
    font-size: 13px;
    display: block;
    margin-top: 5px;
}
.mvp-grid1 .mvp-playlist-duration{
    top: 3px;
}

/* load more button */

.mvp-load-more-btn{
	display: inline-block;
    padding: 10px 50px;
    font-size: 15px;
    position: relative;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.mvp-load-more-btn{
	background: #353b49;
	color: #eee;
}
.mvp-load-more-btn:hover{
	background:#ddd;
	color: #fff;
}

.mvp-visible {
	opacity: 1!important;
	transition: opacity 500ms ease-out;
}
.mvp-holder-visible{
    opacity: 1!important;
}
#mvp-playlist-list{
	display: none;
}

/* search bar */

.mvp-playlist-bar{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}
.mvp-search-field{
    display:inline-block;
    position:relative;
    width:170px!important;
    height:24px!important;
    padding:0 0 0 5px!important;
    box-sizing: border-box;
    margin:0!important;
    border: solid 1px #eee!important; 
    border-radius:0 !important;
    color:#999 !important;
    box-shadow:none!important; 
    line-height:1!important; 
    user-select: text;
    font-size: 13px;
}
.mvp-search-field::placeholder {
    color: inherit!important;
}
.mvp-playlist-filter-msg{
    position: relative;
    text-align: center;
    margin: 50px;
    display: none;
}
.mvp-playlist-filter::placeholder { 
    color: inherit!important;
}
.mvp-playlist-filter-msg span{
    position: relative;
    font-size: 16px;
    color: #353b49;
}


.mvp-player-loader{
	position:absolute;
	top:50%;
	left:50%;
    width: 40px;
    height: 40px;
    margin-left:-20px;
    margin-top:-20px;
    z-index: 100;
    pointer-events:none;
    background: #03a9f4;
    -webkit-animation: mvp_preloader 1.2s infinite ease-in-out;
    animation: mvp_preloader 1.2s infinite ease-in-out;
}
@-webkit-keyframes mvp_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes mvp_preloader {
    0% { 
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}