.mvp-list2{
    max-width:500px;
}
.mvp-list2 .mvp-playlist-inner{
    position:relative;
    overflow:auto;
    max-height:500px;
}
.mvp-list2 .mvp-playlist-inner::-webkit-scrollbar {
    width: 9px; 
    height: 9px; 
}
.mvp-list2 .mvp-playlist-inner::-webkit-scrollbar-thumb {
    background: #999; 
}
.mvp-list2 .mvp-playlist-inner::-webkit-scrollbar-track {
    background: #eee; 
}
.mvp-list2 .mvp-playlist-content{
    position:relative;
}
.mvp-list2 .mvp-playlist-item{
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}
.mvp-list2 .mvp-playlist-item:last-child{
    margin-bottom: 0;
}
.mvp-list2 .mvp-playlist-thumb{
    position:relative;
    top:0px;
    left:0px;
    height:auto;
    width: 100%;
    flex-shrink: 0;
    overflow:hidden;
    transition: opacity 300ms ease-out; 
}
.mvp-list2 .mvp-thumbimg{
    position:relative;
    top:0px;
    left:0px;
    display:block;
    width: 100%;
    max-width: none!important;
    opacity: 0;
}
.mvp-list2 .mvp-playlist-thumb:after{
    display: block;
    content: '';
    position: absolute;
    z-index: 3; 
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent rgba(255,255,255,.3);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mvp-list2 .mvp-playlist-item:hover .mvp-playlist-thumb:after{
    border-color: transparent transparent transparent rgba(255,255,255,.8);
    transition: all .2s ease-in; 
}
.mvp-list2 .mvp-playlist-item:hover .mvp-thumbimg{
    transform: scale(1.1);
    transition: all .2s ease-in; 
}
.mvp-list2 .mvp-playlist-info {
    height: auto;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    line-height: normal;
    z-index: 10;
    white-space:normal;
}
.mvp-list2.mvp-info-dbt .mvp-playlist-info {
    position: relative;
    background:#fff;
    color:#777;
}
.mvp-list2.mvp-info-dot .mvp-playlist-item {
    overflow: hidden;
}
.mvp-list2.mvp-info-dot .mvp-playlist-info {
    top: 100%;
    transition: transform 0.2s ease-out;
    position: absolute;
    background:#607d8b;
    color:#fff;
}
.mvp-list2.mvp-info-dot .mvp-playlist-item:hover .mvp-playlist-info{
    transform: translateY(-99%);
}
.mvp-list2.mvp-info-drot .mvp-playlist-item {
    display: flex; 
    flex-direction: row; 
    overflow: hidden;
}
.mvp-list2.mvp-info-drot .mvp-playlist-thumb {
    width: 50%;
}
.mvp-list2.mvp-info-drot .mvp-playlist-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    box-sizing: border-box;
    line-height: normal;
    white-space:normal;
}
.mvp-list2 .mvp-playlist-title {
    font-size:16px;
}
.mvp-list2 .mvp-playlist-description{
    font-size: 13px;
    display: block;
    margin-top: 5px;
}
.mvp-list1 .mvp-playlist-duration{
    top: 3px;
}









