*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

a{ 
	text-decoration: none; 
}

body, html {
	
}

.mvp-player a{
	box-shadow: none!important;
}
[dir=rtl] .mvp-player{
    direction: ltr!important;
}


.mvp-logo{
	position: absolute;
	top:20px;
	left:20px;
}

.mvp-player{
	position: relative;
    width: 100%;
    min-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    z-index: 1;
    min-height: 200px;
    display: none;
}
.mvp-player:not(.mvp-is-lightbox){
    max-width: 920px;
}
.mvp-player-wrap{
    position: relative;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.mvp-media-holder{
	background: #111;
}

/* icons */
.mvp-btn{
	display: none;
	height:100%;
}
.mvp-icon-wrap{
	height:100%;
}
.mvp-contr-btn svg{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	fill:currentColor;
	transition: color .1s ease-out;
}

.mvp-player-controls{
	opacity: 0;
    transition: opacity .3s ease-out;
    display: none;
}
.mvp-player-controls-visible{
    opacity: 1;
}


.mvp-settings-menu{
	display: none;
}
.mvp-settings-toggle{
	cursor: pointer;
}
.mvp-settings-holder{
	position: absolute;
    right: 0;
    bottom: 100%;
    display: none;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.mvp-settings-holder-scrollable{
	overflow-y:auto; 
}
.mvp-settings-holder::-webkit-scrollbar {
    width: 9px; 
    height: 9px; 
}
.mvp-settings-holder::-webkit-scrollbar-thumb {
    background: #999; 
}
.mvp-settings-holder::-webkit-scrollbar-track {
    background: #eee; 
}
.mvp-settings-holder ul{
	margin: 0!important;
    padding: 0!important;
}
.mvp-menu-item{
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    position: relative;
    white-space: nowrap;
    height: auto;
    text-align: center;
    list-style-type: none;
    margin: 0;
    line-height: 1!important;
    user-select: none;
    cursor: pointer;
    padding: 12px;
}
.mvp-menu-active{
    cursor: default!important;
}
.mvp-settings-menu-item-title{
	margin-right: 20px;
	font-weight: bold;
}
.mvp-settings-holder .mvp-menu-header{
    font-size: 13px;
    line-height: 1;
	padding: 12px 10px 12px 15px;
    background-image: url('../data/svg/left-arrow.svg');
    background-position: 12px center;
    background-repeat: no-repeat;
    background-size: 11px;
    transition: all 0.3s ease-out;
    margin-bottom: 1px;
    cursor: pointer;
}
.mvp-settings-holder .mvp-menu-header:hover{
	background-position: 8px center;
}
.mvp-settings-holder .mvp-menu-header span{
	padding-left: 18px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mvp-subtitles{
	display: none;
}
.mvp-subtitle-holder-inner{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    transition: margin-bottom .3s ease-out;
    font-size: 20px;
}
.mvp-subtitle{
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff!important;
    background: rgba(0, 0, 0, 0.3)!important;
    white-space: pre-wrap;
}
.mvp-subtitle i{
    font-style: italic;
}
.mvp-subtitle-visible {
    margin-bottom: 50px!important;
}


.mvp-share-inner .mvp-share-item{
	width:40px;
	height:40px;
	float: left;
    position: relative;
}



/* coming next */

.mvp-comingnext-holder{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    z-index:50;
    transition: opacity 100ms ease-out;
}
.mvp-comingnext-poster-holder{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.mvp-comingnext-poster-holder-shade{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
}
.mvp-comingnext-inner{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.mvp-comingnext-data{
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mvp-comingnext-data{
    max-height: none;
}
.mvp-comingnext-data-header{
    font-size: 14px;
    color: #ccc;
}
.mvp-comingnext-data-title{
    font-size: 24px;
    color: #fff;
    margin-top: 3px;
    text-align: center;
}
.mvp-comingnext-duration{
    font-size: 13px;
    font-style: italic;
}
.mvp-comingnext-timer-wrap{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin: 20px 0;
}
.mvp-comingnext-timer-circle{
    transform: rotate(-90deg);/*start from top*/
    position: absolute;
    top: 0;
    left:0;
}
.mvp-comingnext-timer-circle-stroke{
    stroke-dasharray: 169; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 169;
    transition: stroke-dashoffset 1s linear;
}
.mvp-comingnext-timer-play svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill:currentColor;
    transition: color .1s ease-out;
    color:#fff;
    height: 20px;
}
.mvp-comingnext-cancel{
    font-size: 14px;
    color: #efefef;
    border-radius: 1px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color .3s ease-out;
}
.mvp-comingnext-cancel:hover{
    background-color: rgba(255,255,255,0.2);
}




.mvp-info-holder,
.mvp-share-holder,
.mvp-resume-holder,
.mvp-redirect-login-holder{
	position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: none;
    z-index:50;
	opacity: 0;
    transition: opacity 100ms ease-out;
    background: rgba(0,0,0,0.7);
}
.mvp-info-holder-inner,
.mvp-share-holder-inner,
.mvp-resume-holder-inner,
.mvp-redirect-login-holder-inner{
	display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.mvp-info-inner,
.mvp-share-inner,
.mvp-resume-inner,
.mvp-redirect-login-inner{
	position: relative;
	height: 100%;
	padding: 20px 40px 20px 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: left;
}
.mvp-redirect-login-holder-watch .mvp-redirect-login-inner{/*no close btn*/
    padding: 20px;
}
.mvp-info-data,
.mvp-share-data,
.mvp-resume-data,
.mvp-redirect-login-data{
	position: relative;
    max-width: 70%;
    max-height: 70%;
    overflow: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.mvp-contr-btn.mvp-info-close,
.mvp-contr-btn.mvp-share-close,
.mvp-contr-btn.mvp-redirect-login-close,
.mvp-contr-btn.mvp-chapter-menu-close{
    position: absolute;
    right:0;
    top:0;
    background: none!important;
    z-index: 333;
    height: 40px;
    width: 40px;
}
.mvp-contr-btn.mvp-upnext-close{
    height: 40px;
}
.mvp-contr-btn.mvp-info-close svg,
.mvp-contr-btn.mvp-share-close svg,
.mvp-contr-btn.mvp-redirect-login-close svg,
.mvp-contr-btn.mvp-chapter-menu-close svg{
	height: 16px;
}
.mvp-redirect-login-inner{
    text-align: center;
}
.mvp-redirect-login-title{
    font-size: 18px;
    color: #fff!important;
}
@media (max-width: 500px) { 
    .mvp-info-data,
    .mvp-share-data,
    .mvp-resume-data,
    .mvp-redirect-login-data,
    .mvp-comingnext-data{
        max-width: 100%;
        max-height: 100%;
    }
    .mvp-redirect-login-title{
        font-size: 18px;
    }
    .mvp-comingnext-data-title{
        font-size: 20px;
    }
    .mvp-comingnext-timer-wrap{
        margin: 10px 0;
    }
}

/* resume confirm */
.mvp-resume-action-container{
	padding:10px 10px;
	display: flex;
    align-items: center;
}
.mvp-resume-action-container:hover{
	opacity: 0.7;
}
.mvp-resume-action-container-separator{
	height: 1px;
	background: #777;
	width: 100%;
}
.mvp-resume-title{
	color: #fff;
	font-size: 16px;
}
.mvp-resume-action-container .mvp-contr-btn svg{
	color: #fff!important;
}




.mvp-player-title{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: normal;
}
.mvp-player-title{
	color:#fff;
}
.mvp-player-desc{
	font-size: 12px;
	white-space: pre-wrap;
	line-height: normal;
}
.mvp-player-desc{
	color:#bbb;
}

.mvp-big-play{
	position:absolute;
	width:76px;
	height:76px; 
	top:50%;
	left:50%;
	margin-left:-37px;
	margin-top:-37px;
	display:none;
	text-align:center;
	line-height: 76px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
}
.mvp-big-play svg{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height: 26px;
	fill:currentColor;
}

.mvp-player-loader{
	position:absolute;
	top:50%;
	left:50%;
    width: 40px;
    height: 40px;
    margin-left:-20px;
    margin-top:-20px;
    z-index: 100;
    pointer-events:none;
    -webkit-animation: mvp_preloader 1.2s infinite ease-in-out;
    animation: mvp_preloader 1.2s infinite ease-in-out;
}
@-webkit-keyframes mvp_preloader {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes mvp_preloader {
    0% { 
	    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
	    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
	    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.mvp-vr-info{
	position: absolute;
	height: auto;
	display: block;
	top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background: rgba(0,0,0,0.5);
    padding: 10px;
    pointer-events:none;
    display: none;
}

.mvp-preview-seek-wrap{
    position: absolute;
    width: 120px;
    height: 68px;
    display: none;
    pointer-events:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 2px solid #ddd;
}
.mvp-preview-seek-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.mvp-preview-seek-time{
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.mvp-preview-seek-time .mvp-preview-seek-time-current{
	margin: 0!important;
	line-height: normal;
    padding: 1px 2px!important;
    background: #111;
    color: #b8b8b8 !important;
    font-size: 13px!important;
}

.mvp-pwd-holder{
	height: 100%;
    width: 100%;
    display: none;
    z-index:60;
    position: relative;
    opacity: 0;
    transition: opacity 100ms ease-out;
    background: rgba(0,0,0,0.7);
}
.mvp-pwd-holder-inner{
	display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.mvp-pwd-data{
	position: relative;
    max-width: 350px;
    width: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}
@media (max-width: 400px) { 
	.mvp-pwd-data{
	    max-width: 90%;
	}
}
.mvp-pwd-inner{
	position: relative;
	height: 100%;
	box-sizing: border-box;
}
.mvp-pwd-box{
	display: flex;
}
.mvp-pwd-field-wrap{
	position: relative;
	margin:0;
	padding: 5px!important;
	line-height: 1.2;
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
}
.mvp-pwd-field{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%!important;
    width: 100%!important;
    padding: 0 0 0 5px!important;
    font-size: 13px!important;
    margin: 0!important;
    border: 0!important;
    box-shadow: none!important;
    line-height: 1!important;
    direction: ltr!important;
    box-sizing: border-box;
}
.mvp-pwd-field{
	background: #232323!important;
	color: #fff!important;
}
.mvp-pwd-title{
    font-size: 14px;
    margin: 5px;
    display: flex;
	color: #ccc;
}
.mvp-pwd-info{
    font-size: 11px;
    margin: 5px;
    display: flex;
    color: #aaa;
}
.mvp-pwd-confirm{
    display: inline-block;
    padding: 3px!important;
    font-size: 12px;
    cursor: pointer;
    float: right;
    align-self: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
}
.mvp-pwd-confirm{
	background: #fff;
	color: #555;
}
.mvp-pwd-error{
	display: none;
}

.mvp-context-menu{
	position:absolute;
	padding:10px;
	font-size: 12px;
	white-space:nowrap;
	z-index: 2147483646!important;
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display:none;
}
.mvp-context-menu ul{
	padding:0!important;
	margin:0!important;
}
.mvp-context-menu li{
	line-height:1.4!important;
	list-style:none!important;
	margin: 0!important;
	border: 0!important;
	padding:5px!important;
	font-size: 12px!important;
	cursor: pointer;
}
.mvp-context-menu li{
	border-bottom: 1px solid #666!important;
	color:#eee!important;
}
.mvp-context-menu li:last-child{
	border-bottom: none!important;
}
.mvp-context-link span {
	background-color: #9e9e9e!important;
}
.mvp-context-link span a {
	color: #E5E5E5!important;
}
.mvp-context-menu li:hover > span{
	opacity: 0.5;	
}
.mvp-context-fullscreen-exit{
	display: none;
}

.mvp-tooltip{
	position:absolute;
	text-align:center;
	z-index: 2147483646!important;
	pointer-events:none;
	display:none;
	font-size:13px!important;
	padding:2px 8px !important;
	line-height:20px !important;
	white-space:nowrap;
	user-select: none;
	direction: ltr !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}





.mvp-unmute-toggle{
	color: #222;
    background: #fff;
    position: absolute;
    top: 70px;
    left: -300px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.mvp-unmute-toggle-visible {
    left:30px;
}

.mvp-player-holder,
.mvp-media-holder,
.mvp-slideshow-holder,
.mvp-video-holder,
.mvp-image-holder,
.mvp-poster-holder,
.mvp-youtube-holder,
.mvp-vimeo-holder-default,
.mvp-vimeo-holder-chromeless,
.mvp-canvas-video,
.mvp-canvas-image,
.mvp-canvas-audio,
.mvp-custom-holder,
.mvp-iframe-blocker{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}	

.mvp-media-holder iframe,
.mvp-emiframe,
.mvp-media .fb-video{
	position:absolute!important;
	top:0!important;
	left:0!important;
	width:100%!important;
	height:100%!important;
	max-width: none!important;
	max-height: none!important;
}
.mvp-media{
    position:absolute;
    max-width:none!important;
    user-select: none;
    visibility: visible;
    opacity: 0; 
    top:0;
    left:0;
    max-width:none!important;
    transition: opacity 500ms ease-out; 
}
.mvp-force-hide{
	display: none!important;
}
iframe.mvp-yt-clean {
    width: 132%!important;
    height: 200%!important;
    top: -50%!important;
    left: -16%!important;
}
.mvp-layout-100{
    position: fixed!important;
    left:0!important;
    top:0!important;
    width:100%!important;
    max-width: none!important;
    height:100%!important;
    max-height: none!important;
    z-index: 99999999;
    margin: 0!important;
    padding: 0!important;
}
.mvp-fs{
	position:fixed!important;
	top:0!important;
	left:0!important;
	width:100%!important;
	height:100%!important;
	max-width:none!important;
	max-height:none!important;
	margin:0!important;
	padding:0!important;
	z-index:999999!important;
	overflow:hidden!important;
	-webkit-transform: none!important;
  	-ms-transform: none!important;
  	transform: none!important;
} 
.mvp-fs-overflow{
	overflow:hidden!important;
}

.mvp-download-toggle a{
    display: block;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}


/* minimize on scroll */

.mvp-minimize-bl{
    top:auto!important;
    position: fixed!important;
    z-index: 2147483648;
    bottom: 20px!important;
    left: 20px!important;
    margin: 0!important;
    max-width: 70%;
}
.mvp-minimize-br{
    top:auto!important;
    position: fixed!important;
    z-index: 2147483648;
    bottom: 20px!important;
    left:auto!important;
    right: 20px!important;
    margin: 0!important; 
    max-width: 70%;
}
/* on narrow screen */
.mvp-minimize-full-width{
	left:auto!important;
	right: auto!important;
    max-width: none;	
}
.mvp-minimize-close{
	position: absolute!important;
	top: -40px!important;
	width: 40px!important;
	height: 40px!important;
	display: none;
}
.mvp-minimize-bl .mvp-minimize-close{
	display: block;
	left: 0;
}
.mvp-minimize-br .mvp-minimize-close{
	display: block;
	right: 0;
}



.mvp-btn-disabled{
	opacity: 0.5!important;
}
.mvp-skin-aviva .mvp-cc-toggle svg,
.mvp-skin-pollux .mvp-cc-toggle svg,
.mvp-skin-flat .mvp-cc-toggle svg{
	height:18px;
}
.mvp-skin-sirius .mvp-cc-toggle svg{
	height:16px;
}
.mvp-skin-vega .mvp-cc-toggle svg{
	height:26px;
}



/* info scroll */

.mvp-info-data::-webkit-scrollbar {
    width: 9px; 
    height: 9px; 
}
.mvp-info-data::-webkit-scrollbar-thumb {
    background: #999; 
}
.mvp-info-data::-webkit-scrollbar-track {
    background: #eee; 
}


/* playlist */


.mvp-playlist-inner-wrap{
	position: relative;
	display: flex;
	flex-direction:column;
	height: 100%;
}

.mvp-vlb .mvp-playlist-holder,
.mvp-vrb .mvp-playlist-holder{
	position:absolute;
	bottom:0;
	height: 100%;
	width:320px;
	overflow: hidden;
	display: none;
}
.mvp-vlb .mvp-player-holder{
	left:auto!important;
	right: 0;
}
.mvp-ht .mvp-player-holder{
	top:auto!important;
	bottom: 0;
}

.mvp-vlb.mvp-skin-aviva .mvp-playlist-holder,
.mvp-vrb.mvp-skin-aviva .mvp-playlist-holder,
.mvp-vb.mvp-skin-aviva .mvp-playlist-holder,
.mvp-ht.mvp-skin-aviva .mvp-playlist-holder,
.mvp-hb.mvp-skin-aviva .mvp-playlist-holder{
	background: #353b49;
}
.mvp-vlb.mvp-skin-sirius .mvp-playlist-holder,
.mvp-vrb.mvp-skin-sirius .mvp-playlist-holder,
.mvp-vb.mvp-skin-sirius .mvp-playlist-holder,
.mvp-ht.mvp-skin-sirius .mvp-playlist-holder,
.mvp-hb.mvp-skin-sirius .mvp-playlist-holder{
	background: #282828;
}
.mvp-vlb.mvp-skin-vega .mvp-playlist-holder,
.mvp-vrb.mvp-skin-vega .mvp-playlist-holder,
.mvp-vb.mvp-skin-vega .mvp-playlist-holder,
.mvp-ht.mvp-skin-vega .mvp-playlist-holder,
.mvp-hb.mvp-skin-vega .mvp-playlist-holder{
	background: #282828;
}
.mvp-vlb.mvp-skin-pollux .mvp-playlist-holder,
.mvp-vrb.mvp-skin-pollux .mvp-playlist-holder,
.mvp-vb.mvp-skin-pollux .mvp-playlist-holder,
.mvp-ht.mvp-skin-pollux .mvp-playlist-holder,
.mvp-hb.mvp-skin-pollux .mvp-playlist-holder{
	background: #323a45;
}
.mvp-vlb.mvp-skin-flat-dark .mvp-playlist-holder,
.mvp-vrb.mvp-skin-flat-dark .mvp-playlist-holder,
.mvp-vb.mvp-skin-flat-dark .mvp-playlist-holder,
.mvp-ht.mvp-skin-flat-dark .mvp-playlist-holder,
.mvp-hb.mvp-skin-flat-dark .mvp-playlist-holder{
	background: rgba(0,0,0,0.9);
}
.mvp-vlb.mvp-skin-flat-light .mvp-playlist-holder,
.mvp-vrb.mvp-skin-flat-light .mvp-playlist-holder,
.mvp-vb.mvp-skin-flat-light .mvp-playlist-holder,
.mvp-ht.mvp-skin-flat-light .mvp-playlist-holder,
.mvp-hb.mvp-skin-flat-light .mvp-playlist-holder{
	background: #fff;
}
.mvp-vlb.mvp-skin-flat-gray .mvp-playlist-holder,
.mvp-vrb.mvp-skin-flat-gray .mvp-playlist-holder,
.mvp-vb.mvp-skin-flat-gray .mvp-playlist-holder,
.mvp-ht.mvp-skin-flat-gray .mvp-playlist-holder,
.mvp-hb.mvp-skin-flat-gray .mvp-playlist-holder{
	background: #d0d0d0;
}
.mvp-vlb.mvp-skin-live .mvp-playlist-holder,
.mvp-vrb.mvp-skin-live .mvp-playlist-holder,
.mvp-vb.mvp-skin-live .mvp-playlist-holder,
.mvp-ht.mvp-skin-live .mvp-playlist-holder,
.mvp-hb.mvp-skin-live .mvp-playlist-holder{
	background: #dbe2e7;
}





.mvp-vrb .mvp-playlist-holder{
	right:0;
}
.mvp-vlb .mvp-playlist-holder{
	left:0;
}
.mvp-vb .mvp-playlist-holder{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:300px;
	overflow: hidden;
	display: none;
}
.mvp-ht .mvp-playlist-holder{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	overflow: hidden;
	display: none;
}
.mvp-hb .mvp-playlist-holder{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	overflow: hidden;
	display: none;
}
.mvp-ht.mvp-nt-scroll.mvp-ps-drot .mvp-playlist-holder,
.mvp-hb.mvp-nt-scroll.mvp-ps-drot .mvp-playlist-holder{
	height: 96px;
}
.mvp-ht.mvp-nt-scroll.mvp-ps-dot .mvp-playlist-holder,
.mvp-hb.mvp-nt-scroll.mvp-ps-dot .mvp-playlist-holder{
	height: 184px;
}
.mvp-ht.mvp-nt-buttons.mvp-ps-drot .mvp-playlist-holder,
.mvp-ht.mvp-nt-hover.mvp-ps-drot .mvp-playlist-holder,
.mvp-hb.mvp-nt-buttons.mvp-ps-drot .mvp-playlist-holder,
.mvp-hb.mvp-nt-hover.mvp-ps-drot .mvp-playlist-holder{
	height: 80px;
}
.mvp-ht.mvp-nt-buttons.mvp-ps-dot .mvp-playlist-holder,
.mvp-ht.mvp-nt-hover.mvp-ps-dot .mvp-playlist-holder,
.mvp-hb.mvp-nt-buttons.mvp-ps-dot .mvp-playlist-holder,
.mvp-hb.mvp-nt-hover.mvp-ps-dot .mvp-playlist-holder{
	height: 168px;
}

.mvp-vlb .mvp-playlist-inner,
.mvp-vrb .mvp-playlist-inner,
.mvp-vb .mvp-playlist-inner,
.mvp-ht .mvp-playlist-inner,
.mvp-hb .mvp-playlist-inner{
	position:relative;
	top:0;
	left:0;
	height: 100%;
	width:100%;
	flex:1;
	overflow: hidden;
}


.mvp-vb .mvp-playlist-item,
.mvp-vlb .mvp-playlist-item,
.mvp-vrb .mvp-playlist-item{
	position:relative;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
	cursor: pointer;
}
.mvp-vb.mvp-ps-drot .mvp-playlist-item,
.mvp-vlb.mvp-ps-drot .mvp-playlist-item,
.mvp-vrb.mvp-ps-drot .mvp-playlist-item{
	margin-bottom:1px;
}
.mvp-vb.mvp-ps-drot .mvp-playlist-item:last-child,
.mvp-vlb.mvp-ps-drot .mvp-playlist-item:last-child,
.mvp-vrb.mvp-ps-drot .mvp-playlist-item:last-child{
	margin-bottom:0;
}
.mvp-ht .mvp-playlist-item,
.mvp-hb .mvp-playlist-item{
	position:relative;
	top:0;
	left:0;
	width:300px;
	float:left;
	overflow:hidden;
	cursor: pointer;
}
.mvp-ht.mvp-ps-drot .mvp-playlist-item,
.mvp-hb.mvp-ps-drot .mvp-playlist-item{
	margin-right:1px;
}
.mvp-ht.mvp-ps-drot .mvp-playlist-item:last-child,
.mvp-hb.mvp-ps-drot .mvp-playlist-item:last-child{
	margin-right:0;
}
.mvp-vlb.mvp-ps-drot .mvp-playlist-item,
.mvp-vrb.mvp-ps-drot .mvp-playlist-item,
.mvp-vb.mvp-ps-drot .mvp-playlist-item{
	height: 80px;
}
.mvp-vlb.mvp-ps-dot .mvp-playlist-item,
.mvp-vrb.mvp-ps-dot .mvp-playlist-item,
.mvp-vb.mvp-ps-dot .mvp-playlist-item{
	height: 171px;
}
.mvp-ht.mvp-ps-drot .mvp-playlist-item,
.mvp-hb.mvp-ps-drot .mvp-playlist-item{
	height: 100%;
}
.mvp-ht.mvp-ps-dot .mvp-playlist-item,
.mvp-hb.mvp-ps-dot .mvp-playlist-item{
	height: 168px;
}


.mvp-skin-aviva.mvp-ps-gdbt .mvp-playlist-item{
	background: #353b49;
}
.mvp-skin-aviva.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-aviva.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#d7e6eb;
}

.mvp-skin-sirius.mvp-ps-gdbt .mvp-playlist-item{
	background:#282828;
}
.mvp-skin-sirius.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-sirius.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#3a3a3a;
}

.mvp-skin-vega.mvp-ps-gdbt .mvp-playlist-item{
	background:#282828;
}
.mvp-skin-vega.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-vega.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#3a3a3a;
}

.mvp-skin-pollux.mvp-ps-gdbt .mvp-playlist-item{
	background: #323a45;
}
.mvp-skin-pollux.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-pollux.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#eee;
}

.mvp-skin-flat-dark.mvp-ps-gdbt .mvp-playlist-item{
	background: rgba(0,0,0,0.9);
}
.mvp-skin-flat-dark.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-flat-dark.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#232323;
}

.mvp-skin-flat-light.mvp-ps-gdbt .mvp-playlist-item{
	background: #fff;
}
.mvp-skin-flat-light.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-flat-light.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#eee;
}

.mvp-skin-flat-gray.mvp-ps-gdbt .mvp-playlist-item{
	background: #d0d0d0;
}
.mvp-skin-flat-gray.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-flat-gray.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#7a7686;
}

.mvp-skin-live.mvp-ps-drot .mvp-playlist-item-selected,
.mvp-skin-live.mvp-ps-gdbt .mvp-playlist-item-selected{
	background:#d6dce0;
}


.mvp-media-watched-bg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: #909090;
    pointer-events:none;
}
.mvp-media-watched-progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ff0000;
}

.mvp-ps-drot .mvp-playlist-thumb {
	position:relative;
	margin:5px;
	width:124px;
	height:70px;
	float:left;
	overflow:hidden;
}
.mvp-ps-dot .mvp-playlist-thumb {
	position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.mvp-thumbimg{
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 100%!important;
    width: auto;
    min-width: 100%;
    max-width: none!important;
	opacity: 0;
	-webkit-backface-visibility: hidden;
}
.mvp-vb.mvp-ps-dot .mvp-thumbimg,
.mvp-ps-dot .mvp-playlist-holder-bottom .mvp-thumbimg{
    min-width: auto;
}

.mvp-playlist-duration{
    position: absolute;
    right: 3px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 1px 2px;
    font-size: 12px;
    line-height: normal;
}
.mvp-ps-drot .mvp-playlist-duration,
.mvp-ps-gdbt .mvp-playlist-duration{
    bottom: 3px;
}
.mvp-ps-dot .mvp-playlist-duration,
.mvp-ps-gdot .mvp-playlist-duration{
    top: 3px;
}

.mvp-ps-drot .mvp-playlist-info {
	position:relative;
	margin: 5px;
	line-height: normal;
	height:70px;
	overflow: hidden;
}

.mvp-ps-dot .mvp-playlist-info,
.mvp-ps-gdot .mvp-playlist-info {
	position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    height:100%;
    overflow:hidden;
    box-sizing: border-box;
    line-height: normal;
    z-index: 10;
}




.mvp-ps-dot .mvp-playlist-info,
.mvp-ps-gdot .mvp-playlist-info {
    top: 100%;
    height: auto;
    transition: transform 0.2s ease-out;
}
.mvp-ps-dot .mvp-playlist-item:hover .mvp-playlist-info,
.mvp-ps-dot .mvp-playlist-item-selected .mvp-playlist-info,
.mvp-ps-gdot .mvp-playlist-item:hover .mvp-playlist-info,
.mvp-ps-gdot .mvp-playlist-item-selected .mvp-playlist-info{
    transform:translateY(-99%);
}

.mvp-skin-vega.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-vega.mvp-ps-gdot .mvp-playlist-info{
    background:rgba(0,0,0,0.5);
}
.mvp-skin-aviva.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-aviva.mvp-ps-gdot .mvp-playlist-info{
    background:#353b49;
}
.mvp-skin-pollux.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-pollux.mvp-ps-gdot .mvp-playlist-info{
    background:#323a45;
}
.mvp-skin-sirius.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-sirius.mvp-ps-gdot .mvp-playlist-info{
    background:rgba(0,0,0,0.5);
}
.mvp-skin-flat-light.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-flat-light.mvp-ps-gdot .mvp-playlist-info{
    background:rgba(255,255,255);
}
.mvp-skin-flat-dark.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-flat-dark.mvp-ps-gdot .mvp-playlist-info{
    background:rgba(0,0,0,0.9);
}
.mvp-skin-flat-gray.mvp-ps-dot .mvp-playlist-info,
.mvp-skin-flat-gray.mvp-ps-gdot .mvp-playlist-info{
    background:rgba(0,0,0,0.5);
}


.mvp-ps-drot .mvp-playlist-title,
.mvp-ps-dot .mvp-playlist-title{
	font-size:15px;
	line-height: normal;
}
.mvp-skin-aviva .mvp-playlist-title {
	color:#fff;
}
.mvp-skin-sirius .mvp-playlist-title {
	color:#fff;
}
.mvp-skin-vega .mvp-playlist-title {
	color:#fff;
}
.mvp-skin-pollux .mvp-playlist-title {
	color:#fff;
}
.mvp-skin-flat-dark .mvp-playlist-title {
	color:#e3e3e3;
}
.mvp-skin-flat-light .mvp-playlist-title {
	color:#da4040;
}
.mvp-skin-flat-gray .mvp-playlist-title {
	color:#fff;
}
.mvp-skin-live .mvp-playlist-title {
	color:#fff;
}

.mvp-playlist-published-date{
	display: block;
	font-size: 13px;
	padding: 0;
	margin: 0;
}
.mvp-playlist-published-date{
	color: #bbb;
}
.mvp-ps-drot .mvp-playlist-description,
.mvp-ps-dot .mvp-playlist-description{
	font-size:11px;
	display: block;
	margin-top: 5px;
}
.mvp-skin-aviva .mvp-playlist-description{
	color:#999;
}
.mvp-skin-sirius .mvp-playlist-description{
	color:#777;
}
.mvp-skin-vega .mvp-playlist-description{
	color:#777;
}
.mvp-skin-pollux .mvp-playlist-description{
	color:#666;
}
.mvp-skin-flat-dark .mvp-playlist-description{
	color:#535353;
}
.mvp-skin-flat-dark .mvp-playlist-item-selected .mvp-playlist-description {
	color:#999;
}
.mvp-skin-flat-light .mvp-playlist-description{
	color:#999;
}
.mvp-skin-flat-gray .mvp-playlist-description{
	color:#bbb;
}
.mvp-skin-live .mvp-playlist-description{
	color:#111;
}




/* navigation-type-buttons */
.mvp-nav-backward,
.mvp-nav-forward{
	display: none;
}
.mvp-vlb.mvp-nt-buttons .mvp-playlist-content,
.mvp-vrb.mvp-nt-buttons .mvp-playlist-content,
.mvp-vb.mvp-nt-buttons .mvp-playlist-content{
    position:absolute;
    width: 100%;
    transition:transform ease-in-out 0.3s;
}
.mvp-ht.mvp-nt-buttons .mvp-playlist-content,
.mvp-hb.mvp-nt-buttons .mvp-playlist-content{
    position:absolute;
    left: 0;
    height: 100%;
    transition:transform ease-in-out 0.3s;
}

/* navigation-type-buttons vertical */
.mvp-vlb .mvp-nav-forward, .mvp-vb .mvp-nav-forward,
.mvp-vlb .mvp-nav-backward, .mvp-vb .mvp-nav-backward,
.mvp-vrb .mvp-nav-forward, .mvp-vb .mvp-nav-forward,
.mvp-vrb .mvp-nav-backward, .mvp-vb .mvp-nav-backward{
    position:absolute;
    right:0;
    height:50px;
    width:50px;
    cursor: pointer;
}
.mvp-vlb .mvp-nav-backward,
.mvp-vrb .mvp-nav-backward,
.mvp-vb .mvp-nav-backward{
    top:0;
}
.mvp-vlb .mvp-nav-forward,
.mvp-vrb .mvp-nav-forward,
.mvp-vb .mvp-nav-forward{
    bottom:0;
}
.mvp-vlb .mvp-nav-forward svg,
.mvp-vlb .mvp-nav-backward svg,
.mvp-vrb .mvp-nav-forward svg,
.mvp-vrb .mvp-nav-backward svg,
.mvp-vb .mvp-nav-forward svg,
.mvp-vb .mvp-nav-backward svg{
	height: 18px;
}




/* navigation-type-buttons horizontal */
.mvp-ht .mvp-nav-backward, 
.mvp-ht .mvp-nav-forward,
.mvp-hb .mvp-nav-backward, 
.mvp-hb .mvp-nav-forward{
    position:absolute;
    top:0;
    height:100%;
    width:50px;
    cursor: pointer;
}
.mvp-ht .mvp-nav-backward,
.mvp-hb .mvp-nav-backward{
    left:0;
}
.mvp-ht .mvp-nav-forward,
.mvp-hb .mvp-nav-forward{
    right:0;
}
.mvp-ht .mvp-nav-forward svg,
.mvp-ht .mvp-nav-backward svg,
.mvp-hb .mvp-nav-forward svg,
.mvp-hb .mvp-nav-backward svg{
	height: 20px;
}

/* hover navigation */
.mvp-ht.mvp-nt-hover .mvp-playlist-content,
.mvp-hb.mvp-nt-hover .mvp-playlist-content{
    position:absolute;
    height: 100%;
}
.mvp-vb.mvp-nt-hover .mvp-playlist-content,
.mvp-vlb.mvp-nt-hover .mvp-playlist-content,
.mvp-vrb.mvp-nt-hover .mvp-playlist-content{
    position:absolute;
    width: 100%;
}




/* hb buttons spaced layout */
.mvp-ht.mvp-ps-dot.mvp-ns-spaced .mvp-playlist-holder,
.mvp-hb.mvp-ps-dot.mvp-ns-spaced .mvp-playlist-holder{
	background: none!important;
	height: 178px!important;
}
.mvp-ht.mvp-ps-drot.mvp-ns-spaced .mvp-playlist-holder,
.mvp-hb.mvp-ps-drot.mvp-ns-spaced .mvp-playlist-holder{
	background: none!important;
	height: 90px!important;
}
.mvp-ht.mvp-ns-spaced .mvp-playlist-inner{
	position: absolute;
	top:0;
	left:40px;
	right: 40px;
	width:auto;
	overflow: hidden;
}
.mvp-hb.mvp-ns-spaced .mvp-playlist-inner{
	position: absolute;
	top:auto;
	bottom: 0;
	left:40px;
	right: 40px;
	width:auto;
	overflow: hidden;
}
.mvp-ht.mvp-ps-dot.mvp-ns-spaced .mvp-playlist-inner,
.mvp-hb.mvp-ps-dot.mvp-ns-spaced .mvp-playlist-inner{
	height: 168px;
}
.mvp-ht.mvp-ps-drot.mvp-ns-spaced .mvp-playlist-inner,
.mvp-hb.mvp-ps-drot.mvp-ns-spaced .mvp-playlist-inner{
	height: 80px;
}
.mvp-ht.mvp-ns-spaced .mvp-playlist-item,
.mvp-hb.mvp-ns-spaced .mvp-playlist-item{
	margin-right: 10px;
}
.mvp-ht.mvp-ns-spaced .mvp-playlist-item:last-child,
.mvp-hb.mvp-ns-spaced .mvp-playlist-item:last-child{
	margin-right: 0;
}
.mvp-ht.mvp-ns-spaced .mvp-nav-backward, 
.mvp-ht.mvp-ns-spaced .mvp-nav-forward{
    width:40px;
    top:0;
    background: none!important;
}
.mvp-hb.mvp-ns-spaced .mvp-nav-backward, 
.mvp-hb.mvp-ns-spaced .mvp-nav-forward{
    width:40px;
    top:auto;
	bottom: 0;
    background: none!important;
}
.mvp-ht.mvp-ps-dot.mvp-ns-spaced .mvp-nav-backward, 
.mvp-ht.mvp-ps-dot.mvp-ns-spaced .mvp-nav-forward,
.mvp-hb.mvp-ps-dot.mvp-ns-spaced .mvp-nav-backward, 
.mvp-hb.mvp-ps-dot.mvp-ns-spaced .mvp-nav-forward{
    height: 150px;
}
.mvp-ht.mvp-ps-drot.mvp-ns-spaced .mvp-nav-backward, 
.mvp-ht.mvp-ps-drot.mvp-ns-spaced .mvp-nav-forward,
.mvp-hb.mvp-ps-drot.mvp-ns-spaced .mvp-nav-backward, 
.mvp-hb.mvp-ps-drot.mvp-ns-spaced .mvp-nav-forward{
    height: 80px;
}
.mvp-ht.mvp-ns-spaced .mvp-nav-forward svg, 
.mvp-ht.mvp-ns-spaced .mvp-nav-backward svg,
.mvp-hb.mvp-ns-spaced .mvp-nav-forward svg, 
.mvp-hb.mvp-ns-spaced .mvp-nav-backward svg{
	height: 30px;
}





/* outer */
.mvp-outer{
	position: relative;
	left:0;
	top:0;
}
.mvp-outer .mvp-player-holder{
	position: relative!important;
}
.mvp-outer .mvp-playlist-holder,
.mvp-outer .mvp-playlist-content{
	position: relative;
	overflow: hidden;
}


@media screen and (min-width: 500px) {
    .mvp-outer.mvp-ps-gdot .mvp-playlist-item{ width: 50%; }
}
@media screen and (min-width: 700px) {
    .mvp-outer.mvp-ps-gdot .mvp-playlist-item{ width: 33.3333333%; }
}


.mvp-outer.mvp-ps-gdbt .mvp-playlist-item{
    margin: 10px;
}
@media screen and (min-width: 500px) {
    .mvp-outer.mvp-ps-gdbt .mvp-playlist-item{ width: calc(50% - 20px); }
}
@media screen and (min-width: 700px) {
    .mvp-outer.mvp-ps-gdbt .mvp-playlist-item{ width: calc(33.333333% - 20px); }
}







/* gdot */
.mvp-ps-gdot .mvp-playlist-item{
	position:relative;
	top:0;
	left:0;
	width:100%;
	float:left;
	overflow:hidden;
	cursor: pointer;
}
.mvp-ps-gdot .mvp-playlist-item:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.mvp-ps-gdot .mvp-playlist-title{
	font-size:16px;
}
.mvp-ps-gdot .mvp-playlist-description{
    font-size: 13px;
    display: block;
    margin-top: 5px;
}


/* gdbt */
.mvp-ps-gdbt .mvp-playlist-item{
	position: relative;
    top: 0;
    left: 0;
    width:100%;
    float: left;
    overflow: hidden;
    cursor: pointer;
}
.mvp-ps-gdbt .mvp-playlist-thumb {
	position: relative;
    top: 0;
    margin: 10px 10px 0 10px;
    left: 0;
    padding-top: 56%;
    overflow: hidden;
}
.mvp-ps-gdot .mvp-playlist-thumb:after,
.mvp-ps-gdbt .mvp-playlist-thumb:after{
    display: block;
    content: '';
    position: absolute;
    z-index: 3; 
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 40px;
    border-color: transparent transparent transparent rgba(255,255,255,.3);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mvp-ps-gdot .mvp-playlist-item:hover .mvp-playlist-thumb:after,
.mvp-ps-gdbt .mvp-playlist-item:hover .mvp-playlist-thumb:after{
    border-color: transparent transparent transparent rgba(255,255,255,.8);
    transition: all .2s ease-in; 
}
.mvp-ps-gdbt .mvp-playlist-item:hover .mvp-thumbimg{
    transform: scale(1.1);
    transition: all .2s ease-in; 
}
.mvp-ps-gdbt .mvp-playlist-info {
	position: relative;
    left: 0;
    top: 0;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    line-height: normal;
    height:150px;
}
.mvp-ps-gdbt .mvp-playlist-title {
	font-size:16px;
}
.mvp-ps-gdbt .mvp-playlist-description{
    font-size: 13px;
    display: block;
    margin-top: 5px;
}






/* lightbox */
.mvp-lightbox-wrap{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483640!important;
    opacity:0;
    display: none;
    transition: opacity .3s ease-out;
}
.mvp-lightbox{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.mvp-lightbox-center{
    top:50%;
    transform: translateY(-50%);
}
.mvp-lightbox-inner{
	position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 920px;
}
.mvp-lightbox-content-inner{
	position: relative;
	background: #fff;
	padding: 10px;
}
.mvp-lightbox-close{
	position: absolute;
	top:0;
	right:-40px;
	width:40px;
	height: 40px;
	cursor: pointer;
	background-color:  rgba(0,0,0,0);
}
.mvp-lightbox-prev{
	position: absolute;
	top:50%;
	left:-40px;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	width:40px;
	height: 40px;
	cursor: pointer;
	background-color:  rgba(0,0,0,0);
}
.mvp-lightbox-next{
	position: absolute;
	top:50%;
	right:-40px;
	width:40px;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	height: 40px;
	cursor: pointer;
	background-color:  rgba(0,0,0,0);
}
.mvp-lightbox-close svg,
.mvp-lightbox-prev svg,
.mvp-lightbox-next svg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#aaa;
	fill:currentColor;
}
@media (max-width: 1000px) { 
	.mvp-lightbox{
		padding-top: 50px;
	}
	.mvp-lightbox-close{
		right: auto;
		top:-50px;
	    left: 50%;
	    margin-top: 5px;
	    margin-left: -20px;
	}
	.mvp-lightbox-prev{
	    top:-50px;
	    margin-top: 5px;
	    left: 50%;
	    margin-left: -100px;
     	-webkit-transform: none;
     	-ms-transform: none;
     	transform: none;
    }
    .mvp-lightbox-next{
	    top:-50px;
	    left: 50%;
	    right: auto;
	    margin-top: 5px;
	    margin-left: 60px;
     	-webkit-transform: none;
     	-ms-transform: none;
     	transform: none;
    }
}

.mvp-wall{
	position: relative;
	left:0;
	top:0;
}
.mvp-wall .mvp-player-holder{
	position: relative!important;
}
.mvp-wall .mvp-playlist-holder,
.mvp-wall .mvp-playlist-content{
	overflow: hidden;
}





/* load more button */

.mvp-load-more-btn{
	display: inline-block;
    padding: 10px 50px;
    font-size: 15px;
    position: relative;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.mvp-load-more-btn:hover{
    background: #ddd;
}

.mvp-skin-aviva .mvp-load-more-btn{
	background: #353b49;
	color: #eee;
}
.mvp-skin-aviva .mvp-load-more-btn:hover{
	color: #fff;
}
.mvp-skin-pollux .mvp-load-more-btn{
	background: #323a45;
	color: #eee;
}
.mvp-skin-pollux .mvp-load-more-btn:hover{
	color: #fff;
}
.mvp-skin-vega .mvp-load-more-btn{
	background: #282828;
	color: #eee;
}
.mvp-skin-vega .mvp-load-more-btn:hover{
	background: #3a3a3a;
	color: #fff;
}
.mvp-skin-sirius .mvp-load-more-btn{
	background: #282828;
	color: #eee;
}
.mvp-skin-sirius .mvp-load-more-btn:hover{
	background: #3a3a3a;
	color: #fff;
}

.mvp-skin-flat-light .mvp-load-more-btn{
	background: #fff;
	color: #aaa;
}
.mvp-skin-flat-light .mvp-load-more-btn:hover{
	background: #eee;
}
.mvp-skin-flat-dark .mvp-load-more-btn{
	background: rgba(0,0,0,0.9);
	color: #aaa;
}
.mvp-skin-flat-dark .mvp-load-more-btn:hover{
	background: #232323;
}
.mvp-skin-flat-gray .mvp-load-more-btn{
	background: #d0d0d0;
	color: #fff;
}
.mvp-skin-flat-gray .mvp-load-more-btn:hover{
	background: #7a7686;
}











/* up next */
.mvp-upnext-wrap{
	position: absolute;
	bottom: 60px;
	right: -340px;
	transition: all 0.3s ease-in-out;
}
.mvp-upnext-wrap2{
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events:none;
}
.mvp-upnext-wrap2-visible{
    opacity: 1;
}
.mvp-upnext-wrap.mvp-upnext-visible {
    right:10px;
}
.mvp-upnext-inner{
	display: flex;
	position: relative;
    height: 62px;
    max-width: 330px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.mvp-upnext-thumb-wrap{
    width: 100px;
    flex: 0 0 auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.mvp-upnext-thumb{
	width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.mvp-upnext-duration{
    position: absolute;
    right: 3px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 1px 2px;
    font-size: 12px;
    bottom: 3px;
    line-height: normal;
}
.mvp-upnext-info{
	font-size: 14px;
    line-height: 1.35;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 12px 40px 5px 15px;
    display: flex;
    flex-flow: column wrap;
    transition: color .1s ease-out;
}
.mvp-skin-aviva .mvp-upnext-info,
.mvp-skin-sirius .mvp-upnext-info,
.mvp-skin-vega .mvp-upnext-info,
.mvp-skin-pollux .mvp-upnext-info{
	color:#eee;
}
.mvp-skin-aviva .mvp-upnext-info:hover,
.mvp-skin-sirius .mvp-upnext-info:hover,
.mvp-skin-vega .mvp-upnext-info:hover,
.mvp-skin-pollux .mvp-upnext-info:hover{
	color:#fff;
}
.mvp-skin-flat-dark .mvp-upnext-info{
	color:#777;
}
.mvp-skin-flat-dark .mvp-upnext-info:hover{
	color:#999;
}
.mvp-skin-flat-light .mvp-upnext-info{
	color:#777;
}
.mvp-skin-flat-light .mvp-upnext-info:hover{
	color:#999;
}
.mvp-skin-flat-gray .mvp-upnext-info{
	color:#777;
}
.mvp-skin-flat-gray .mvp-upnext-info:hover{
	color:#999;
}
.mvp-upnext-header{
	font-weight: bold;
}
.mvp-upnext-title{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.mvp-upnext-close{
	position: absolute!important;
	top:0!important;
	right: 0!important;
	height: 40px!important;
	width:40px!important;
}






/* chapters highlight make visible */
.mvp-seekbar.mvp-seekbar-chapters .mvp-progress-bg{
	overflow: visible!important;
}
.mvp-chapter-indicator{
	position: absolute;
	top:0;
    height: 100%;
    box-sizing:border-box;
}

.mvp-chapter-indicator{
    border-right: 2px solid #ffff00;
}
.mvp-progress-bg .mvp-chapter-indicator:last-child{
    border-right: none!important;
}
.mvp-chapter-indicator-highlight{
	position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 0;
    padding-top: 2px;
    border-top: 2px solid transparent;
}
.mvp-skin-aviva .mvp-chapter-indicator-highlight-visible,
.mvp-skin-sirius .mvp-chapter-indicator-highlight-visible,
.mvp-skin-vega .mvp-chapter-indicator-highlight-visible,
.mvp-skin-pollux .mvp-chapter-indicator-highlight-visible{
	border-top-color: rgba(255,255,255,0.8);
}
.mvp-skin-flat-dark .mvp-chapter-indicator-highlight-visible{
	border-top-color: #666;
}
.mvp-skin-flat-light .mvp-chapter-indicator-highlight-visible{
	border-top-color: #666;
}
.mvp-skin-flat-gray .mvp-chapter-indicator-highlight-visible{
	border-top-color: #fff;
}
.mvp-chapter-title{
    position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity .4s ease-in;
    opacity: 0; 
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 0!important;
    display: none;
    text-align:center;
}
@media (max-width: 1000px) { 
	.mvp-chapter-title{
	    font-size: 24px;
	}
}
@media (max-width: 600px) { 
	.mvp-chapter-title{
	    font-size: 22px;
	}
}
.mvp-skin-aviva .mvp-chapter-title,
.mvp-skin-sirius .mvp-chapter-title,
.mvp-skin-vega .mvp-chapter-title,
.mvp-skin-pollux .mvp-chapter-title{
	color: #fff;
}
.mvp-skin-flat-dark .mvp-chapter-title{
	color: #e3e3e3;
}
.mvp-skin-flat-light .mvp-chapter-title{
	color: #666;
}
.mvp-skin-flat-gray .mvp-chapter-title{
	color: #fff;
}

/* chapters menu*/

.mvp-chapter-menu-holder{
    display: none;
    z-index:50;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.mvp-chapter-menu-wrap{
    position: absolute;
    z-index: 50;
    padding: 10px 15px 10px 10px;  
    box-sizing: border-box;
    right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction:column;
}
.mvp-skin-aviva .mvp-chapter-menu-wrap{
    bottom: 51px;
    max-height: calc(100% - 52px);
}
.mvp-skin-pollux .mvp-chapter-menu-wrap{
    bottom: 68px;
    max-height: calc(100% - 68px);
}
.mvp-skin-sirius .mvp-chapter-menu-wrap{
    bottom: 40px;
    max-height: calc(100% - 40px);
}
.mvp-skin-vega .mvp-chapter-menu-wrap{
    bottom: 68px;
    max-height: calc(100% - 68px);
}
.mvp-skin-flat .mvp-chapter-menu-wrap{
    bottom: 41px;
    max-height: calc(100% - 41px);
}
.mvp-chapter-menu-header{
    margin-bottom: 10px;
}
.mvp-chapter-menu-header-title{
    font-size: 15px;
    padding-left: 10px;
    color: #ccc;
}
.mvp-skin-flat-dark .mvp-chapter-menu-header-title{
    color: #aaa;
}
.mvp-skin-flat-gray .mvp-chapter-menu-header-title{
    color: #fff;
}
.mvp-chapter-menu{
    overflow: auto;
    padding: 0 10px 0 0!important;
    margin: 0!important;
}
.mvp-chapter-menu::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
.mvp-chapter-menu::-webkit-scrollbar-thumb {
    background: #999; 
}
.mvp-chapter-menu::-webkit-scrollbar-track {
    background: #eee; 
}
.mvp-chapter-menu-item{
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    line-height: 1!important;
    user-select: none;
    border: 0;
    cursor: pointer;
}
.mvp-chapter-toggle.mvp-contr-btn svg{
    height: 16px;
}
.mvp-skin-aviva .mvp-chapter-menu-item{
    color: #eee;
}
.mvp-skin-aviva .mvp-chapter-menu-item-active{
    background: #fff;
    color: #555;
}
.mvp-skin-pollux .mvp-chapter-menu-item{
    color: #eee;
}
.mvp-skin-pollux .mvp-chapter-menu-item-active{
    background: #fff;
    color: #555;
}
.mvp-skin-sirius .mvp-chapter-menu-item{
    color: #eee;
    font-size: 13px;
}
.mvp-skin-sirius .mvp-chapter-menu-item-active{
    background: #fff;
    color: #555;
}
.mvp-skin-vega .mvp-chapter-menu-item{
    color: #eee;
}
.mvp-skin-vega .mvp-chapter-menu-item-active{
    background: #fff;
    color: #555;
}
.mvp-skin-vega .mvp-chapter-toggle.mvp-contr-btn{
    margin-left: 20px;
}
.mvp-skin-vega .mvp-chapter-toggle.mvp-contr-btn svg{
    height: 22px;
}
.mvp-skin-flat-light .mvp-chapter-menu-item{
    color: #8c8c8c;
}
.mvp-skin-flat-light .mvp-chapter-menu-item-active{
    background: #da4040;
    color: #fff;
}
.mvp-skin-flat-dark .mvp-chapter-menu-item{
    color: #eee;
}
.mvp-skin-flat-dark .mvp-chapter-menu-item-active{
    background: #fff;
    color: #555;
}
.mvp-skin-flat-gray .mvp-chapter-menu-item{
    color: #8c8c8c;
}
.mvp-skin-flat-gray .mvp-chapter-menu-item-active{
    background: #7a7686;
    color: #fff;
}












/* ad seekbar */
.mvp-ad-seekbar{
	position: absolute;
	height:5px;
	touch-action: none;
	left: 0;
	bottom:0;
	width:100%;
	display: none;
}
.mvp-ad-progress-bg{
	position:absolute;
	background:#ccc;
	width:100%;
	top:0;
	left:0;
	height:100%;
}
.mvp-ad-load-level{
	position:absolute;
	left:0;
	top:0;
	height:100%;
}
.mvp-ad-progress-level{
	position:absolute;
	background:#ff0;
	left:0;
	top:0;
	height:100%;
	width: 0;
	transition: width 0.3s; 
}
.mvp-ad-info{
	position: absolute;
    color: #fff;
    user-select: none;
    padding: 5px;
    margin: 0;
    right: 5px;
    bottom: 10px;
    white-space: nowrap;
    font-size: 12px;
    direction: ltr!important;
    background: rgba(0,0,0,0.3);
}
.mvp-ad-info-title,
.mvp-ad-info-time{
	display: inline-block;
}

/* advert */
.mvp-ad-skip-btn{
	position:absolute;
	width:220px;
	height:62px;
	left:-300px;
	bottom:30px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: all 0.3s ease-in-out;
}
.mvp-ad-skip-btn-visible {
    left:10px;
}
.mvp-ad-skip-msg{
	position:absolute;
	left:0px;
	width:50%; 
	height:100%; 
	display: flex;
	justify-content: center;
	align-items: center; 
}
.mvp-skin-aviva .mvp-ad-skip-msg,
.mvp-skin-aviva .mvp-ad-skip-msg-end,
.mvp-skin-sirius .mvp-ad-skip-msg,
.mvp-skin-sirius .mvp-ad-skip-msg-end,
.mvp-skin-vega .mvp-ad-skip-msg,
.mvp-skin-vega .mvp-ad-skip-msg-end,
.mvp-skin-pollux .mvp-ad-skip-msg,
.mvp-skin-pollux .mvp-ad-skip-msg-end{
	color:#eee;
}
.mvp-skin-aviva .mvp-ad-skip-msg:hover,
.mvp-skin-aviva .mvp-ad-skip-msg-end:hover,
.mvp-skin-sirius .mvp-ad-skip-msg:hover,
.mvp-skin-sirius .mvp-ad-skip-msg-end:hover,
.mvp-skin-vega .mvp-ad-skip-msg:hover,
.mvp-skin-vega .mvp-ad-skip-msg-end:hover,
.mvp-skin-pollux .mvp-ad-skip-msg:hover,
.mvp-skin-pollux .mvp-ad-skip-msg-end:hover{
	color:#fff;
}
.mvp-skin-flat-dark .mvp-ad-skip-msg,
.mvp-skin-flat-dark .mvp-ad-skip-msg-end{
	color:#eee;
}
.mvp-skin-flat-dark .mvp-ad-skip-msg:hover,
.mvp-skin-flat-dark .mvp-ad-skip-msg-end:hover{
	color:#fff;
}
.mvp-skin-flat-light .mvp-ad-skip-msg,
.mvp-skin-flat-light .mvp-ad-skip-msg-end{
	color:#777;
}
.mvp-skin-flat-light .mvp-ad-skip-msg:hover,
.mvp-skin-flat-light .mvp-ad-skip-msg-end:hover{
	color:#999;
}
.mvp-skin-flat-gray .mvp-ad-skip-msg,
.mvp-skin-flat-gray .mvp-ad-skip-msg-end{
	color:#eee;
}
.mvp-skin-flat-gray .mvp-ad-skip-msg:hover,
.mvp-skin-flat-gray .mvp-ad-skip-msg-end:hover{
	color:#fff;
}

.mvp-ad-skip-msg .mvp-ad-skip-msg-text{
	font-size:13px!important; 
	color:inherit!important; 
	text-align: center!important; 
    line-height:1.4 !important; 
	padding:5px!important; 	
	margin:0!important; 	
}
.mvp-ad-skip-thumb{
	position: absolute;
	right:0;
	top:0;
	width:50%;
	overflow: hidden; 
	height:100%; 
}
.mvp-ad-skip-thumb img{
	display:block;
	position: absolute;
	left: 0;
	top:0;
	min-height: 100%;
    width: 100%;
}
.mvp-ad-skip-msg-end{
	position: absolute;
	width:100%;
	height:100%;
	display:none;
	font-size:22px!important; 
	text-align: center!important; 
    line-height:62px!important; 
    direction: ltr!important;
}

/* ad markers */
.mvp-ad-indicator{
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background: yellow;
    pointer-events:none;
}

/* ad controls */

.mvp-ad-controls{
	position: absolute;
    right: 0;
    top: 0;
 	margin: 5px;
 	height: 40px;
 	display: none;
}
.mvp-ad-controls .mvp-contr-btn{
	margin-left: 1px;
	width: 40px;
	height: 40px;
}
.mvp-ad-controls .mvp-contr-btn svg{
	height: 16px;
}
.mvp-btn.mvp-btn-volume-up{
	display: block;
}








/*annotations */

.mvp-annotation{
	position: absolute;
	display:none;
}
.mvp-annotation .adsbygoogle{
	vertical-align: top;
}
.mvp-annotation-close{
	width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: content-box;
    display: none;
}
.mvp-annotation-close-tl{
    top: 0;
    left: 0;
}
.mvp-annotation-close-tr{
    top: 0;
    right: 0;
}
.mvp-annotation-close-bl{
    bottom: 0;
    left: 0;
}
.mvp-annotation-close-br{
    bottom: 0;
    right: 0;
}
.mvp-annotation:hover{
	opacity:1!important;
	z-index: 99999999;
}
.mvp-annotation:hover .mvp-annotation-close{
	display: block;
}
.mvp-annotation-close svg{
	display: block;
	height:100%;
	margin: 0 auto;
}
.mvp-annotation-position-tl{
	top:0;
	left:0;
}
.mvp-annotation-position-tr{
	top:0;
	right:0;
}
.mvp-annotation-position-bl{
	bottom:0;
	left:0;
}
.mvp-annotation-position-br{
	bottom:0;
	right:0;
}
.mvp-annotation-position-center{
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.mvp-hidden {
    display: none!important;
}
.mvp-visible {
	opacity: 1!important;
	transition: opacity 500ms ease-out;
}
.mvp-holder-visible{
    opacity: 1!important;
}

.mvp-vlb .mCSB_inside > .mCSB_container,
.mvp-vrb .mCSB_inside > .mCSB_container,
.mvp-vb .mCSB_inside > .mCSB_container{
    margin-right: 16px;
}
.mvp-mCSB_full{/* hide scroll area when no scroll */
    margin-right: 0!important;
}


#mvp-playlist-list{
	display: none;
}





/* shadows */

.mvp-shadow-effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.mvp-shadow-effect2:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(.9);
    -webkit-box-shadow: 0 4px 30px 5px #000000;
     -moz-box-shadow: 0 4px 30px 5px #000000;
      box-shadow: 0 4px 30px 5px #000000;
}

.mvp-shadow-effect3:before, .mvp-shadow-effect3:after{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.mvp-shadow-effect3:after{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.mvp-shadow-effect4{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.mvp-shadow-effect4:before, .mvp-shadow-effect4:after{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.mvp-shadow-effect4:after{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.mvp-shadow-effect5{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.mvp-shadow-effect5:before, .mvp-shadow-effect5:after{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.mvp-shadow-effect5:after{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.mvp-shadow-effect6{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.mvp-shadow-effect6:before, .mvp-shadow-effect6:after{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.mvp-shadow-effect6:after{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.mvp-theater{
    max-width: 100%!important;
    margin-left: 0!important;
    margin-right: 0!important;
}
.mvp-force-playlist-show{
    position: absolute!important;
    opacity: 0!important;
    left:-10000px!important;
    display: block!important;
}





/* search bar */

.mvp-playlist-bar{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}
.mvp-skin-aviva .mvp-playlist-bar,
.mvp-skin-pollux .mvp-playlist-bar,
.mvp-skin-vega .mvp-playlist-bar{
    height: 50px;
}
.mvp-skin-flat .mvp-playlist-bar,
.mvp-skin-sirius .mvp-playlist-bar,
.mvp-skin-live .mvp-playlist-bar{
    height: 40px;
}
.mvp-search-field{
    display:inline-block;
    position:relative;
    width:170px!important;
    height:24px!important;
    padding:0 0 0 5px!important;
    box-sizing: border-box;
    margin:0!important;
    border:0!important;
    border-radius:0 !important;
    color:#999 !important;
    box-shadow:none!important; 
    line-height:1!important; 
    user-select: text;
    font-size: 13px;
}
.mvp-search-field::placeholder {
    color: inherit!important;
}
.mvp-grid .mvp-search-field,
.mvp-list .mvp-search-field{
    border: solid 1px #eee!important; 
}

.mvp-skin-aviva .mvp-playlist-bar{
	background: #353b49;
}
.mvp-skin-sirius .mvp-playlist-bar{
	background: #282828;
}
.mvp-skin-vega .mvp-playlist-bar{
	background: #282828;
}
.mvp-skin-pollux .mvp-playlist-bar{
	background: #323a45;
}
.mvp-skin-flat-dark .mvp-playlist-bar{
	background: rgba(0,0,0,0.9);
}
.mvp-skin-flat-light .mvp-playlist-bar{
	background: #fff;
}
.mvp-skin-flat-gray .mvp-playlist-bar{
	background: #d0d0d0;
}

.mvp-skin-aviva .mvp-search-field{
	background:#d7e6eb !important;
}
.mvp-skin-pollux .mvp-search-field{
	background:#eee !important;
}
.mvp-skin-sirius .mvp-search-field{
	background:#eee !important;
}
.mvp-skin-vega .mvp-search-field{
	background:#eee !important;
}
.mvp-skin-flat-light .mvp-search-field{
	background:#5d5d5d !important;
}
.mvp-skin-flat-dark .mvp-search-field{
	background:#333 !important;
}
.mvp-skin-flat-gray .mvp-search-field{
	background:#efefef !important;
}

.mvp-vrb .mvp-playlist-filter-msg,
.mvp-vlb .mvp-playlist-filter-msg,
.mvp-ht .mvp-playlist-filter-msg,
.mvp-hb .mvp-playlist-filter-msg,
.mvp-vb .mvp-playlist-filter-msg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.mvp-outer .mvp-playlist-filter-msg,
.mvp-wall .mvp-playlist-filter-msg,
.mvp-grid .mvp-playlist-filter-msg,
.mvp-list .mvp-playlist-filter-msg{
    position: relative;
    text-align: center;
    margin: 50px;
    display: none;
}
.mvp-playlist-filter::placeholder { 
    color: inherit!important;
}
.mvp-vrb .mvp-playlist-filter-msg span,
.mvp-vlb .mvp-playlist-filter-msg span,
.mvp-ht .mvp-playlist-filter-msg span,
.mvp-hb .mvp-playlist-filter-msg span,
.mvp-vb .mvp-playlist-filter-msg span{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.mvp-outer .mvp-playlist-filter-msg span,
.mvp-wall .mvp-playlist-filter-msg span,
.mvp-grid .mvp-playlist-filter-msg span,
.mvp-list .mvp-playlist-filter-msg span{
    position: relative;
    font-size: 16px;
}
.mvp-skin-aviva .mvp-playlist-filter-msg span{
	color: #d7e6eb;
}
.mvp-skin-pollux .mvp-playlist-filter-msg span{
	color:#eee;
}
.mvp-skin-sirius .mvp-playlist-filter-msg span{
	color:#eee;
}
.mvp-skin-vega .mvp-playlist-filter-msg span{
	color:#eee;
}
.mvp-skin-flat-light .mvp-playlist-filter-msg span{
	color:#da4040;
}
.mvp-skin-flat-dark .mvp-playlist-filter-msg span{
	color:#bbb;
}
.mvp-skin-flat-gray .mvp-playlist-filter-msg span{
	color:#7a7686;
}
.mvp-skin-live .mvp-playlist-filter-msg span{
	color:#9d9d9d;
}


/* live stream note */

.mvp-live-note{
	position:relative;
	float:left;
	margin: 0 10px;
	height: 40px;
    display: none;
}
.mvp-skin-vega .mvp-live-note{
    height: 25px;
}
.mvp-live-note-inner{
	display: flex;
	height: 100%;
	position:relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mvp-live-note-icon{
	width: 8px;
	height: 8px;
	background: #ff0000;
	border-radius: 100%;
}
.mvp-live-note-title{
	font-size:13px!important;
	color:#fff;
	margin-left: 5px;
}

.mvp-skin-aviva .mvp-live-note{
	height: 50px;
}
.mvp-skin-pollux .mvp-live-note{
    height: 25px;
}
.mvp-skin-pollux .mvp-live-note-icon{
	background: #de5362;
}
.mvp-skin-sirius .mvp-live-note-title{
	font-size:18px!important;
}
.mvp-skin-flat-light .mvp-live-note-icon{
	background: #da4040;
}
.mvp-skin-flat-light .mvp-live-note-title{
	color: #5d5d5d;
}
.mvp-skin-flat-dark .mvp-live-note-title{
	color: #bbb;
}


/* share colors */

.mvp-share-item{
    transition: transform 0.3s;
}
.mvp-share-item:hover{
    transform: scale(1.7);
}

.mvp-share-item[data-type="facebook"]:hover svg{
	color: #3b5998!important;
}
.mvp-share-item[data-type="twitter"]:hover svg{
	color: #00aced!important;
}
.mvp-share-item[data-type="tumblr"]:hover svg{
	color: #34526f!important;
}
.mvp-share-item[data-type="whatsapp"]:hover svg{
	color: #25D366!important;
}
.mvp-share-item[data-type="linkedin"]:hover svg{
	color: #007bb6!important;
}
.mvp-share-item[data-type="reddit"]:hover svg{
	color: #FF4301!important;
}
.mvp-share-item[data-type="digg"]:hover svg{
	color: #005be2!important;
}
.mvp-share-item[data-type="pinterest"]:hover svg{
	color: #cb2027!important;
}





/* fix so video is not seen below controls sometimes */
.mvp-lightbox-inner .mvp-player-controls-bottom{
    bottom: -1px!important;
}




/* rel pagination */

.mvp-rel-holder{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #222;
    display: none;
    z-index:50;
    opacity: 0;
    transition: opacity 100ms ease-out;
}
.mvp-rel-playlist-holder{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 50px;
    overflow: hidden;
}
.mvp-rel-playlist-inner{
    overflow: hidden;
    width: 100%;
    position: relative;
    box-sizing:border-box;
    transition: height ease-out 0.3s;
}
.mvp-rel-playlist-content{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: none;
    opacity: 0;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
}
.mvp-rel-cont{
    position: relative; 
    height: 100%;   
    float: left;
}
.mvp-rel-box{
    position: relative;
    float: left;
    cursor: pointer;
    box-sizing:border-box;
    transition: opacity 200ms ease-out;
    -webkit-backface-visibility: hidden;
    background: #1b1b1b;
    opacity: 0.8;
}
.mvp-rel-box-mobile{
    opacity: 1;
}
.mvp-rel-box:hover{
    opacity: 1;
}
.mvp-rel-thumb{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}
.mvp-rel-thumbimg{
    position: absolute;
    width: 100%;
    width: calc(100% + 2px);
    min-height: 100%;
    display: block;
    top:50%;
    transform:translateY(-50%);
    user-select: none;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: opacity 500ms ease-in;
    opacity: 0;
}
.mvp-rel-title{
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 15px;
    color: #fff;
    background: rgba(0,0,0,0.3);
}
.mvp-rel-duration{
    position: absolute;
    right: 3px;
    top:3px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
    font-size: 12px;
    line-height: normal;
}

/* nav */
.mvp-rel-prev,
.mvp-rel-next,
.mvp-rel-close{
    position: absolute;
    transition: background-color 100ms ease-out;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    line-height: 50px;
    cursor: pointer;
    display: none;
    user-select: none;
}
.mvp-rel-close{
    display: block;
}
.mvp-rel-prev,
.mvp-rel-next{
    top: 50%;
    transform: translateY(-50%);
}
.mvp-rel-prev{
    left: 0;
}
.mvp-rel-next{
    right: 0;
}
.mvp-rel-close{
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.mvp-rel-prev svg,
.mvp-rel-next svg,
.mvp-rel-close svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill:currentColor;
    color:#e9e9e9;
}
.mvp-rel-prev:hover svg,
.mvp-rel-next:hover svg,
.mvp-rel-close:hover svg{
    color:#fff;
}
.mvp-rel-prev svg,
.mvp-rel-next svg{
    height: 50px;
}
.mvp-rel-close svg{
    height: 30px;
}

@media (max-width: 500px) { 
    .mvp-rel-title{
       font-size: 13px;
    }
}




/*  playlist taxonomy display frontend */

.mvp-tax-display-wrap{
    margin-bottom: 10px;
}
.mvp-category-item{
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 5px 13px;
    margin: 5px!important;
    border-radius: 3px;
    cursor: pointer;
    background: #ca4a1f;
}
.mvp-tax-display-category-wrap,
.mvp-tax-display-tag-wrap{
    overflow: hidden;
}
.mvp-tax-display-title{
    font-size: 20px;
    font-weight: 600;
}

.mvp-category-item:hover,
.mvp-category-item-active{
    background: #9e9e9e;
}
.mvp-tag-item{
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 3px 7px;
    margin: 5px!important;
    border-radius: 3px;
    cursor: pointer;
    background: #0073aa;
}
.mvp-tag-item:hover,
.mvp-tag-item-selected{
    background: #9e9e9e;
}
.mvp-category-item-selected,
.mvp-tag-item-selected{
    cursor: default;
    background: #9e9e9e;
}


/*pagination */

.mvp-pagination-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.mvp-pagination-container {
    position: relative;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.mvp-pagination-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 10px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.mvp-pagination-currentpage{
    cursor: default!important;
}
.mvp-pagination-dots{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 10px;
    box-sizing: border-box;
}
.mvp-pagination-next, 
.mvp-pagination-prev {
    text-transform: uppercase;
}
.mvp-pagination-page:hover,
.mvp-pagination-currentpage {
    background-color: #518acb;
    color: #fff;
}
.mvp-pagination-hidden{
    display: none!important;
}







